<nav class="navbar navbar-expand-lg navbar-light float-md-right">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">About Me <i class="fas fa-code"></i><span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/portfolio">Portfolio <i class="fas fa-code-branch"></i><span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact <i class="fas fa-address-book"></i><span
                        class="sr-only">(current)</span></a>
            </li>
    </div>
</nav>

<div class="container">
    <div class="header">
        <header>
            <h1 class="page-header">Brandon Hall</h1>
        </header>
    </div>
</div>

<div class="main">

    <div class="container">

        <div class="card">
            <h2 class="borderM">Portfolio</h2>

            <div class="push">

                <div class="container">
                    <div class="row">
                        <a class='figImg' href='https://sofa-kb.github.io/GifSearch' target="_blank">
                            <figure class="col-sm-4 col-lg-4 col-xs-12">
                                <img class="img-fluid img-thumbnail" src="./public/assets/images/gifsearch.png" alt="GifSearch">
                                <figcaption class="text-center">GifSearch</figcaption>
                            </figure>
                        </a>
                        <a class='figImg' href='https://sofa-kb.github.io/PWGenerator' target='_blank'>
                            <figure class="col-sm-4 col-lg-4 col-xs-12">
                                <img class="img-fluid img-thumbnail" src="./public/assets/images/pass.jpg"
                                    alt="Password Generator">
                                <figcaption class="text-center">Password Generator</figcaption>
                            </figure>
                        </a>
                    </div>

                    <div class="row">
                        <a class='figImg' href='https://sofa-kb.github.io/DayPlanner' target='_blank'>
                            <figure class="col-sm-4 col-lg-4 col-xs-12">
                                <img class="img-fluid img-thumbnail" src="./public/assets/images/planner.jpg" alt="Day Planner">
                                <figcaption class="text-center trivia">Day Planner</figcaption>
                            </figure>
                        </a>

                        <a class='figImg' href='https://sofa-kb.github.io/WeatherDashboard' target='_blank'>
                            <figure class="col-sm-4 col-lg-4 col-xs-12">
                                <img class="img-fluid img-thumbnail" src="./public/assets/images/weather.png"
                                    alt="Weather Dashboard">
                                <figcaption class="text-center">Weather Dashboard</figcaption>
                            </figure>
                        </a>
                    </div>

                    <div class="row">
                        <a class='figImg' href='https://captwart.github.io/teamdbs' target='_blank'>
                            <figure class="col-sm-4 col-lg-4 col-xs-12">
                                <img class="img-fluid img-thumbnail" src="./public/assets/images/karaoke.jpg" alt="Best Karaoke">
                                <figcaption class="text-center">Best Karaoke</figcaption>
                            </figure>
                        </a>

                         <a class='figImg' href='https://tennis-matchr.herokuapp.com/' target='_blank'>
                            <figure class="col-sm-4 col-lg-4 col-xs-12">
                                <img class="img-fluid img-thumbnail" src="./public/assets/images/tennis.png"
                                    alt="Weather Dashboard">
                                <figcaption class="text-center">TennisMatchr</figcaption>
                            </figure>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="footer navbar-fixed-bottom">
    <div class="text-center">
        <span class="text-muted">Copyright &copy; 2019-2020 Brandon Hall</span>
    </div>
</footer>